<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ERP项目</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<div id="container" >
	<div id="header">
		<img  SRC=/view/images/top.jpg style="width: 100%;height: 180px;"/>
	</div>

	<div class="left_main">
		<iframe width=100%  height=888px  SRC=left.html></iframe>
	</div>
	<div class="right_main">
		<iframe name="main" width=100%  height=888px  SRC=right.html></iframe>
	</div>
</div>
</body>
</html>